<div class="container has-text-centered">
  <p class="title">
    Dashboard
  </p>
</div>

  <div class="control is-flex is-justify-content-center">
    <button class="button is-link"><a type="button" href="/new-posts">New Post</a></button>
  </div>
